{{ define "main" }}
    <h1 id="{{ .Title | urlize }}">{{ .Title | markdownify }}</h1>
    {{ if .Content }}
      <br>{{ .Content }}
    {{ end }}
    <hr>
    <ul>
    {{ range .Pages }}
        {{ .Render "li" }} 
    {{ end }}
    </ul>
    {{/*  <hr>  */}}
    <h2>Open Source Projects I have Contributed to:</h2>
    <ul>
    {{ range .Site.Data.opensrc_projects.projects}}
        <li>
            {{if .url}}
                <a href={{.url}} target="_blank"><i>{{.name}}</i></a>
            {{else}}
                <i>{{.name}}</i>
            {{end}}
            <a class="button" href={{.repo}} target="_blank">Repo</a> 
            {{if .contributions}}
              <a class="button" href={{.contributions}} target="_blank">Contributions</a>
            {{else}}
              <a class="button" href={{ printf "%s/commits?author=matthew-hennefarth" .repo }} target="_blank">Contributions</a>
            {{end}}
            {{/*  <p>{{.summary | markdownify}}</p><p>Languages: {{delimit .languages ", "}}</p>  */}}
        </li>
    {{end}}
    </ul>
{{ end }}
