{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
      <br>{{ .Content }}
      {{ if .Params.repo}}<br>Checkout the Repository: <a href={{.Params.repo}}> {{.Params.repo}}</a> {{end}}
    </div>
    <footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if or (.Params.author) (.Params.date) (.Params.repo) (.Params.languages) }}
        <p>
            {{ if .Params.repo}} Repo: <a href={{.Params.repo}}> {{if .Params.abbr}} {{.Params.abbr | markdownify}} {{else}} {{.Params.title | markdownify}}{{end}} </a><br>{{ end }}
            {{ if .Params.languages}} Languages: {{delimit .Params.languages ", " }} <br>{{end}}
            {{ if .Params.authors }}By {{ delimit .Params.authors ", " }}{{ end }}
        </p>
    {{ end }}
{{ end }}
