:root {
  --font-monospace: monospace;
  --font-sans-serif: "Arial", sans-serif;
  --font-serif: "Times New Roman", serif;
}


body {
  font-family: var(--font-sans-serif);
  line-height: 1.5;
}

.page__nav {
  font-family: var(--font-monospace);
}

time {
  font-family: var(--font-monospace);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 0 0;
  font-family: var(--font-monospace);
}

h1 {
  font-size: 22px;
  color: var(--green2);
}
h2{
  font-size: 20px;
  color: var(--orange1);
}
h3{
  font-size: 18px;
  color: var(--orange2);
}
h4 {
  font-size: 16px;
  color: var(--yellow1);
}
h5 {
  font-size: 16px;
  color: var(--yellow2);
}

h1:first-child {
    text-align: center;
    margin-top: 0;
}

.page__body p {
  text-align: justify;
}

ul, ol {
  margin-top: 0.5rem;
}

/* Lists */
ul {
    padding-left: 1.25rem;
}

ol {
    padding-left: 1.75rem;
}

ul li::marker {
    color: var(--muted);
}

ol li::marker {
    color: var(--muted);
}


/* Figures */
figure {
  display: inline-block;
  text-align: center;
  margin: auto;
}
img {
    max-width: 100%;
    height: auto;
}

/* Emphasis */
b,
strong {
    font-weight: 600;
}

/* Highlighting */
::selection,
mark {
    background-color: var(--highlight);
    color: var(--bg);
}

/* Other typographic elements */
hr {
    border: 1;
    margin-bottom: 1.5rem;
    color: var(--muted);
}


/* Prevent super/sub from affecting line height */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.25rem;
    font-size: unset;
}
sub {
    top: 0.25rem;
}

a:link, a:visited {
    color: var(--link);
}

a:hover, a:active, a.active {
    color: var(--hover);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  background-color: var(--button);
  color: var(--bg);
  padding: 0.1rem;
}
a.button::before {
  content: "[";
}
a.button::after {
  content: "]";
}

a.button:hover, a.button:active, a.button.active {
  background: var(--button-hover);
}

/* Code */
pre, code, kbd, samp {
  text-align: left;
  tab-size: 4;
  font-family: var(--font-monospace);
}

blockquote, pre, code, kbd, samp {
  background: var(--bg0_s);
  padding: .2rem;
}

pre, blockquote {
  padding: 1rem;
  overflow-x: auto;
}

pre code {
  padding: 0;
}
blockquote {
  text-align: justify; 
}

/* Tables */

table, td, th {
  border: 1px solid var(--bg1);
  padding: .5rem;
}

table {
  border-collapse: collapse;
  margin: 2rem 0;
  table-layout: fixed;
  width: 100%;
}

th {
  font-family: var(--font-monospace);
  background: var(--bg1);
  font-size: 16px;
}

