@import 'custom_colors';
@import 'publication.css';
@import 'custom_typography.css';

figure {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin: auto;
  line-height: 1rem;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  background-color: var(--base08);
  color: initial;
  font-size: 16px;
  padding: 3px;
}
a.button::before {
  content: "[";
}
a.button::after {
  content: "]";
}

a.button:hover, a.button:active, a.button.active {
  background: var(--base09);
}