@font-face {
  font-family: 'DinaRemasterII';
  src: url('/fonts/DinaRemasterII.eot');
  src: url('/fonts/DinaRemasterII.eot?#iefix') format('embedded-opentype'),
       url('/fonts/DinaRemasterII.woff2') format('woff2')
       url('/fonts/DinaRemasterII.woff') format('woff'),
      url('/fonts/DinaRemasterII.ttf') format('truetype'),
      url('/fonts/DinaRemasterII.svg#DinaRemasterII') format('svg'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DinaRemasterII';
  src: url('/fonts/DinaRemasterII-Bold.eot');
  src: url('/fonts/DinaRemasterII-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/DinaRemasterII-Bold.woff2') format('woff2'),
      url('/fonts/DinaRemasterII-Bold.woff') format('woff'),
      url('/fonts/DinaRemasterII-Bold.ttf') format('truetype'),
      url('/fonts/DinaRemasterII-Bold.svg#DinaRemasterII-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "DinaRemasterII";
}

code {
  font-family: "DinaRemasterII" !important;
}

body {
  font-size: 20px;
}

h1:before { content: "> "; }
h2:before { content: ">> "; }
h3:before { content: ">>> "; }
h4:before { content: ">>>> "; }
h5:before { content: ">>>>> "; }
h6:before { content: ">>>>>> "; }

h1 {
  font-size: 1.85rem;
}

/* Headings */
h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: 1.6rem;
}

hr {
  border-top: 4px dotted;
  border-bottom: 4px dotted;
  color: var(--muted);
  height: 3px;
}

hr:after {
  content: " ";
}

.page__logo-inner:after {
  content: "] %";
}

.aside__social-links i {
  font-size: 20px;
}

.page__footer p {
  font-size: 16px;
}
