body {
  font-size: 16px;
}

h1:before { content: "> "; }
h2:before { content: ">> "; }
h3:before { content: ">>> "; }
h4:before { content: ">>>> "; }
h5:before { content: ">>>>> "; }
h6:before { content: ">>>>>> "; }

h1 {
  font-size: 1.35rem;
}

/* Headings */
h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: 1.15rem;
}

hr {
  border-top: 4px dotted;
  border-bottom: 4px dotted;
  color: var(--muted);
  height: 3px;
}

hr:after {
  content: " ";
}

.page__logo-inner:after {
  content: "] %";
}

.aside__social-links i {
  font-size: 20px;
}

.page__footer p {
  font-size: 12px;
}