.page__footer p {
  text-align: center;
  margin-bottom: 0;
}
/* Social media links */
.aside__social-links {
    padding: 0;
}

.aside__social-links li {
    display: inline-block;
}

.aside__social-links li::marker {
    content: none;
}
