/* Main menu */
.main-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0.25rem 0;
  text-align: center;
  align-items: center;
}

.main-nav li {
    margin-left: 2rem;
    text-transform: lowercase;
}

.main-nav li::marker {
    content: "./";
}
