.citation {
  border-style: solid;
  border-width: thin;
  border-color: var(--inner-bg);
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.citation__frame,
.citation__summary {
  padding-left: 10px;
  padding-right: 10px;
}

/* Frame that holds citation__body and citation_toc*/
.citation__frame {
  padding-top: 10px;
  display: grid;
  grid-template-areas:
    "body"
    "toc";
  grid-template-columns: minmax(0, 1fr);
}

@media (min-width: 55rem) {
  .citation__frame {
    grid-template-areas: 
    "body toc";
    grid-template-columns: minmax(0, 1fr) 20rem;
    grid-column-gap: 1rem;
  }
}

.citation__summary {
  padding-bottom: 10px;
}

.full__citation {
  font-size: 14px;
  line-height: 1rem;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--inner-bg);
  border-radius: 14px;
  overflow: hidden;
}

/* Where the title, authors, year goes*/
.citation__body {
  grid-area: body;
  overflow-wrap: break-word;
  align-self: center;
}

.citation__body h2:before {
  content: "";
}

.citation__body h2 {
  margin-top: 0;
}

/* TOC if present*/
.citation__toc {
  /* width: 300px; */
  grid-area: toc;
  justify-self: center;
  display: flex;
}

.toc__img {
  align-self: center;
  display: flex;
}