{{ define "main" }}
  <header class="content__header">
      <h1>{{ .Title | markdownify }}</h1>
  </header>
  <div class="content__body">

    {{ .Content }}

    {{$lenPubs := len .Site.Data.pubs}}
    {{ range $index, $val := sort .Site.Data.pubs "date" "desc"}}
      {{$year := split .date "-"}}
      {{range first 1 $year}}
        {{$year = .}}
      {{end}}
      {{$authors := slice}}
      {{ range $name := .author }}
        {{ $nameSplit := split $name " " }}
        {{ $firstName := index $nameSplit 1 }}
        {{ $firstInitial := substr $firstName 0 1 }}

        {{$newName := slice}}
        {{ range $nameIndex, $nameValue := $nameSplit }}
          {{ $newvalue := $nameValue }}
          {{ if eq 1 $nameIndex }}
            {{ $newvalue = printf "%s." $firstInitial }}
          {{ end }}
          {{$newName = $newName | append $newvalue}}
        {{ end }}

        {{$name = delimit $newName " "}}

        {{if or (eq $name "Hennefarth, M. R.") (eq $name "Hennefarth, M.")}}
          {{$name = printf "<u>%s</u>" $name}}
        {{end}}
        {{$authors = $authors | append $name}}  
      {{end}}
      
      {{$fullauthors := delimit $authors "; "}}
      {{$shortauthors := $fullauthors}}
      {{if gt (len $authors) 10}}
        {{$shortauthors = slice}}
        {{range first 10 $authors}}
          {{$shortauthors = $shortauthors | append .}}
        {{end}}
        {{$shortauthors = delimit $shortauthors "; "}}
        {{$shortauthors = printf "%s et al." $shortauthors}}
      {{end}}
      {{$journal := .parent.title}}
      <div class="citation">
        <div class="citation__frame">
          <div class="citation__body">
            <a href=https://dx.doi.org/{{.doi}} target="_blank"><h2>{{.title}}</h2></a>
            <ul>
              <li>Publication Number: <b>{{sub $lenPubs $index}}</b></li>
              <li>Authors:<b> {{$shortauthors | markdownify}}</b></li>
              <li>Year:<b> {{$year}}</b></li>
            </ul>
          </div>
          {{if .toc}}
            <div class="citation__toc">
              <img class="toc__img" src={{printf "/toc/%s" .toc}} alt={{printf "%s TOC" .title}}>
            </div>
          {{end}}
        </div>
          <details>
            <summary class="citation__summary">Full Citation</summary>
            <div class="full__citation">
              {{$fullauthors | markdownify}} {{.title}}. 
              {{if ne $journal "arXiv"}}
              <a href=https://dx.doi.org/{{.doi}} target="_blank">
                <i>{{$journal}}</i>, <b>{{$year}}</b>{{if .parent.volume}} {{.parent.volume}}{{end}}{{if .parent.issue}}, {{.parent.issue}}{{end}}{{if .pagerange}}, {{.pagerange}}{{end}}</a>{{else}}<i>{{$journal}}</i>, <b>{{$year}}</b>{{if .parent.volume}} {{.parent.volume}}{{end}}{{if .parent.issue}}, {{.parent.issue}}{{end}}{{if .pagerange}}, {{.pagerange}}{{end}}{{end}}{{if .eprint}}, <a href=https://arxiv.org/abs/{{.eprint}} target="_blank">{{.eprint}}</a>{{end}}.
            </div>
          </details>
        </div>
      {{end}}
  </div>
  <footer class="content__footer"></footer>
{{ end }}
