{{ define "main" }}
  <header class="content__header">
      <h1>{{ .Title | markdownify }}</h1>
  </header>
  <div class="content__body">

    {{ .Content }}

    {{$lenPubs := len .Site.Data.pubs.items}}
    {{ range $index, $val := sort .Site.Data.pubs.items "date" "desc"}}
      {{$year := split .date "-"}}
      {{range first 1 $year}}
        {{$year = .}}
      {{end}}
      {{$authors := slice}}
      {{ range .creators }}
        {{$firstname := split .firstName " "}}
        {{$initials := substr .firstName 0 1}}
        {{$initials = printf "%s." $initials}}
        {{$numinitials := len $firstname}}
        {{$numinitials = sub $numinitials 1}}
        
        {{range last $numinitials $firstname}}
          {{$initials = printf "%s %s" $initials .}}
        {{end}}
        
        {{$name := printf "%s, %s" .lastName $initials}}
        {{$authors = $authors | append $name}}  
      {{end}}
      
      {{$fullauthors := delimit $authors "; "}}
      {{$shortauthors := $fullauthors}}
      {{if gt (len $authors) 10}}
        {{$shortauthors = slice}}
        {{range first 10 $authors}}
          {{$shortauthors = $shortauthors | append .}}
        {{end}}
        {{$shortauthors = delimit $shortauthors "; "}}
        {{$shortauthors = printf "%s et al." $shortauthors}}
      {{end}}
      {{$journal := "Submitted"}}
      {{if .autoJournalAbbreviation}}
        {{$journal = .autoJournalAbbreviation}}
      {{else if .journalAbbreviation}}
        {{$journal = .journalAbbreviation}}
      {{end}}
      <div class="citation">
        <div class="citation__frame">
          <div class="citation__body">
            <a href=https://dx.doi.org/{{.DOI}}><h2>{{.title}}</h2></a>
            <ul>
              <li>Publication Number: <b>{{sub $lenPubs $index}}</b></li>
              <li>Authors:<b> {{$shortauthors}}</b></li>
              <li>Year:<b> {{$year}}</b></li>
            </ul>
          </div>
          {{if .archive}}
            <div class="citation__toc">
              <img class="toc__img" src={{printf "/toc/%s" .archive}} alt={{printf "%s TOC" .title}}>
            </div>
          {{end}}
        </div>
          <details>
            <summary class="citation__summary">Full Citation</summary>
            <div class="full__citation">
              {{$fullauthors}} {{.title}}. 
              <i>{{$journal}}</i>, <b>{{$year}}</b>{{if .volume}} {{.volume}},{{end}}{{if .pages}} {{.pages}}{{end}}. 
              {{if eq .itemType "preprint"}}
                ChemRxiv:
              {{else}}
                DOI:
              {{end}}
              <a href=https://dx.doi.org/{{.DOI}}>{{.DOI}}</a>
            </div>
          </details>
        </div>
      {{end}}
  </div>
  <footer class="content__footer"></footer>
{{ end }}
